venv/
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd

.git/
.gitignore


datasets/
notebooks/

mlruns/

Dockerfile
docker-compose.yml

*.csv
*.parquet
*.xlsx

.streamlit/

.env

.cache/

dist/
build/

node_modules/

*.log